.scene.second(data-2700="top: 100%;" data-3700="top: 0%;" data-7000="top: 0%" data-8700="top: -100%; display: block;" data-8701="display: none;")
  .bathroom-wall
    .wrapper
      .wall-inner
        img.bathroom-light(src=path + '/assets/images/bathroom-light.png' alt="Bathroom Light"
        data-2700="display:none;"
        data-2701="left: -100%; display: block;"
        data-3700="left: 47%;"
        data-6200="left: 47%;"
        data-7200="left: 150%; display: block;"
        data-7201="display: none;")
        img.mirror(src=path + '/assets/images/bathroom-mirror.png' alt="Mirror"
        data-6200="left: 0%"
        data-7200="left: -100%; display: block"
        data-7201="display: none;")
        img.mirror-text(src=path + '/assets/images/bathroom-mirror-text.png' alt="A 5 minute shower uses 40 litres of water, whilst a bath uses up 80 litres"
        data-4800="opacity: 0;"
        data-5000="opacity: 1;"
        data-6200="left: 0%"
        data-7200="left: -100%; display: block"
        data-7201="display: none;")
        img.self(src=path + '/assets/images/bathroom-shelf.png' alt="Shelf"
        data-6200="left: 50%"
        data-7200="left: -100%; display: block"
        data-7201="display: none;")
        img.window(src=path + '/assets/images/bathroom-window.png' alt="Window"
        data-6300="left: 77%"
        data-7200="left: 200%; display: block"
        data-7201="display: none;")
        img.clock-face(src=path + '/assets/images/clock-face.png' alt="Clock Face"
        data-6200="right: 0%"
        data-7200="right: -100%; display: block"
        data-7201="display: none;")
        img.clock-hand(src=path + '/assets/images/clock-hand.png' alt="Clock Hand"
        data-5500="transform: rotate(0deg);"
        data-6000="transform: rotate(150deg);"
        data-6200="right: 0%"
        data-7200="right: -100%; display: block"
        data-7201="display: none;")
        img.bathroom-mat(src=path + '/assets/images/bathroom-mat.png' alt="Mat"
        data-6200="top: 600px"
        data-7200="top: -1000px; display: block"
        data-7201="display: none;")
        img.bath(src=path + '/assets/images/bath.png' alt="Bath"
        data-3700="display: none;"
        data-3701="top: 1000px; display: block;"
        data-3900="top: 200px;"
        data-6200="top: 200px;"
        data-7200="top: 1000px; display: block;"
        data-7201="display: none;")

  .bathroom-floor
    .wrapper
      .floor-inner
        img.bathroom-sink(src=path + '/assets/images/bathroom-sink.png' alt="Sink"
        data-7000="left: 0;"
        data-7200="left: -100%; display: block"
        data-7201="display: none;")
        img.bathroom-chair(src=path + '/assets/images/bathroom-chair.png' alt="Chair"
        data-7000="right: 0;"
        data-7200="right: -100%; display: block"
        data-7201="display: none;")