.scene.first(data-2700="top: 0%" data-3700="top: -100%; display: block;" data-3701="display: none;")
  .sky(data-0="background: rgb(74,74,74);" data-1000="background: rgb(140,201,220);")
    .wrapper
      .sky-inner
        .logo
        //- img.logo(src=path + '/assets/images/every-last-drop.png' alt='Every Last Drop')
        .scroll-message Scroll
        img.stars(src=path + '/assets/images/stars.png' alt='Stars' data-0="top: 10%; left: 22%;" data-1000="top: -100%; left: 30%;")
        img.moon(src=path + '/assets/images/moon.png' alt='Moon' data-0="top: 10%;" data-1000="top: -100%;")
        img.sun.skrollable(src=path + '/assets/images/sun.png' alt='Moon' data-100="top: 100%; right: 20%;" data-1000="top: 10%; right: 0%;")
  .bedroom-floor
    .wrapper
      .floor-inner
        img.desk(src=path + '/assets/images/desk.png', alt="Desk" data-1700='top: 12%; display: block;' data-2700='top: -100%; display: none')
        img.side-table(src=path + '/assets/images/side-table.png', alt="Side Table" data-1700='right: 0%; display: block' data-2700='right: 200%; display: none')
      .floor-inner-below
        img.rug(src=path + '/assets/images/rug.png', alt="Rug" data-1800='top: 0%; display: block;' data-2700='top: 200%; display: none')
        img.tree(src=path + '/assets/images/tree.png', alt="Tree" data-1900='right: 0%; display: block;' data-2700='right: 200%; display: none')