.scene.click-through(data-start='top: 0%;' style='top: 0%;')
  .wrapper
    .character-container
      .character-container-inner
        img.bed-frame(src=path + '/assets/images/bed.png' alt='Bed Frame'
        data-1700="top: 290px; display: block;"
        data-2700="top: 1500px; display: none;")
        img.juan(src=path + '/assets/images/juan.png' alt='Juan'
        data-1201="display: block;"
        data-1202="display: none;")
        img.juan(src=path + '/assets/images/juan-awake.png' alt='Juan'
        data-1200="opacity: 0;"
        data-1201="opacity: 1;"
        data-2700="top: 360px;"
        data-3700="top: 260px;"
        data-6000="display: block;"
        data-6001="display: none;")
        img.juan.juan-shower(src=path + '/assets/images/juan-sponge.png' alt='Juan'
        data-6000='display: none'
        data-6001='display: block'
        data-7700='left: 480px'
        data-8700='left: 600px'
        data-11100='opacity: 1'
        data-11200='opacity: 0')
        img.juan.juan-shower(src=path + '/assets/images/juan-nekked.png' alt='Juan'
        data-6000="display: none;"
        data-6001="display: block;"
        data-7700="left: 480px;"
        data-8700="left: 600px;"
        data-12700="left: 600px; top: 261px;"
        data-13700="left: 105px; top: 270px;"
        data-17701="width: 126px; height: 315px;"
        data-18300="width: 63px; height: 157px; display: block;"
        data-18301="display: none;")
        img.juan.juan-shower(src=path + '/assets/images/juan-bubbles.png' alt='Juan'
        data-6000="display: none;"
        data-6001="display: block;"
        data-7700="left: 480px;"
        data-8700="left: 600px;"
        data-11000="opacity: 1;"
        data-11100="opacity: 0;")
        img.juan.juan-clothes(src=path + '/assets/images/juan-clothes.png' alt='Juan'
        data-10500="opacity: 0;"
        data-11200="opacity: 1;"
        data-12700="left: 600px; top: 261px;"
        data-13700="left: 105px; top: 270px;"
        data-17701="width: 126px; height: 315px;"
        data-18300="width: 63px; height: 157px; display: block;"
        data-18301="display: none;")
        img.juan.juan-nomnom(src=path + '/assets/images/juan-nomnom.png' alt='Juan' data-15300="opacity: 0;" data-15500="opacity: 1;" data-16300="opacity: 1;" data-16500="opacity: 0;")
        img.bed-sheet(src=path + '/assets/images/bed-sheet.png' alt='Bed Sheet' data-1700='left: 50%; display: block' data-2700='left: 200%; display: none')
        img.bath(src=path + '/assets/images/bath-top.png' alt='Bath' data-3700='display: none' data-3701='top: 1000px; display: block' data-3900="top: 200px;" data-6200="top: 200px;" data-7200="top: 1000px; display: block;" data-7201="display: none;")
        .shower-curtain(data-4000='width: 0px' data-4500='width:451px' data-6200='width:451px' data-7200='width: 0px')
        img.table(src=path + '/assets/images/table.png' alt='Table' data-13700='display: none' data-13701='left: -100%; display: block')
