.scene.fourth(data-12700='top: 100%' data-13370='top: 0%' data-17700='top: 0%' data-18700='top: -100%' data-18701='display: none')
  .kitchen-wall
    .wrapper
      img.kitchen-counters(src=path + '/assets/images/kitchen-counters.png' alt='Kitchen Counters'
      data-13700='display: none'
      data-13701='right: -100%; display: block'
      data-14700='right: 0%'
      data-16700='right: 0%'
      data-17700='right: 200%'
      data-17701='display: none')
      img.knife-rack(src=path + '/assets/images/knife-rack.png' alt='Knife Rack'
      data-13700='display: none'
      data-13701='right: -100%; display: block'
      data-14700='top: 30%'
      data-16700='top: 30%'
      data-17700='top: 400%; display: block'
      data-17701='display: none')
      img.knife-shelf(src=path + '/assets/images/knife-shelf.png' alt='Knife Rack'
      data-13700="display: none;"
      data-13701="top: -100%; display: block;"
      data-14700="top: 20%;"
      data-16700="top: 20%;"
      data-17500="top: 400%; display: block;"
      data-17501="display: none;")


  .kitchen-floor
    .wrapper