.scene.third(data-7700='top: 100%' data-8700='top: 0%' data-12700='top: 0%' data-13700='top: -100%' data-13701='display: none')
  .wardrobe-wall
    .wrapper
      img.wardrobe(src=path + '/assets/images/wardrobe.png' alt='Wardrobe'
      data-8700='display: none'
      data-8701='left: -100%; display: block'
      data-9700="left: 0%;"
      data-11700="left: 0%;"
      data-12700="left: -100%; display: block;"
      data-12701="display: none;")
      img.wardrobe-rail(src=path + '/assets/images/wardrobe-rail.png' alt='Wardrobe Rail'
      data-9000="display: none;"
      data-9001="top: 300%; display: block;"
      data-10000="top: 20%;"
      data-11700="left: 0%;"
      data-12700="left: -100%; display: block;"
      data-12701="display: none;")
      img.picture-frame(src=path + '/assets/images/picture-frame.png' alt='Picture Frame'
      data-8700="display: none;"
      data-8701="right: -100%; display: block;"
      data-9700="right: 15%;"
      data-11700="right: 15%;"
      data-12700="right: -100%; display: block;"
      data-12701="display: none;")
      img.picture-frame-icons(src=path + '/assets/images/picture-frame-icons.png' alt='Picture Frame Icon'
      data-10500="opacity: 0"
      data-10700="opacity: 1"
      data-11700="right: 15%;"
      data-12700="right: -100%; display: block;"
      data-12701="display: none;")
      img.lamp(src=path + '/assets/images/lamp.png' alt='Picture Frame Icon'
      data-8700="display: none;"
      data-8701="right: -100%; display: block;"
      data-9700="right: -2%;"
      data-11700="top: 45%;"
      data-12700="top: 400%; display: block;"
      data-12701="display: none;")
  .wardrobe-floor
    .wrapper
      img.wardrobe-rug(src=path + '/assets/images/wardrobe-rug.png' alt='Wardrobe Rug'
      data-8700="display: none;"
      data-8701="top: 100%; display: block;"
      data-9700="top: 50%;"
      data-11700="top: 50%;"
      data-12700="top: -100%; display: block;"
      data-12701="display: none;")